@page "/"
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Open+Sans:300,400,500,700|Waiting+for+the+Sunrise|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<div class="wrapper clearfix">
    <div class="left">

        <div class="name-hero">

            <div class="me-img"></div>

            <div class="name-text">

                <h1>Reigner Garcia Ouano</h1>
                <p>Tarlac City, Philippines</p>
                <p>Reigner41@gmail.com</p>
                <p>(63) 976-031-8947</p>

            </div>

        </div>

    </div>
    <div class="right">

        <div class="inner">
            <section>
                <h1>Employment</h1>
                <p>Nov 2022 - 2024 <em>Carbon Assets Solutions – API Blockchain Integration Specialist</em></p>
                <p>Pioneered a class library for blockchain integration with Kaleido, handling smart contract setups and operations using Solidity.</p>

                <p>Dec 2022 - 2024 <em>ReproTech – Acumatica Developer/Consultant</em></p>
                <p>Customized ERP software for clients, integrated Stripe and Docusign with Acumatica, and developed business logic with APIs.</p>

                <p>Nov 2022 - 2023 <em>Block-Trust – Full-Stack Developer</em></p>
                <p>Developed .NET Core APIs, integrated Next.js for frontend, and implemented blockchain wallet creation with Web3 technologies.</p>

                <p>Feb 2021 - 2023 <em>Asgard Alliance – Senior Software Developer</em></p>
                <p>Created APIs and integrated Twilio and BigCommerce with Acumatica ERP, designed market-sold Asgard Label for Acumatica.</p>

                <p>Nov 2020 - 2022 <em>Greatway Financial – Senior Software Developer</em></p>
                <p>Developed the Smart Mortgage platform using React.js, Node.js, and MySQL, managing backend and frontend development.</p>
            </section>

            <section>
                <h1>Technical Skills</h1>
                <ul class="skill-set">
                    <li>Blockchain & Cryptography</li>
                    <li>Full-Stack Development</li>
                    <li>.NET Core</li>
                    <li>Blazor</li>
                    <li>React.js</li>
                    <li>Acumatica ERP Customization</li>
                    <li>RESTful APIs</li>
                    <li>Web3</li>
                    <li>Python</li>
                </ul>
            </section>

            <section>
                <h1>References</h1>
                <p>William Grand | <em>Grand Interactive, llc. | CEO</em></p>
                <p>(617) 448-0910 | wgrand@grandinteractive.com</p>

                <p>Eric Chauvin | <em>PadMatcher Inc. | CEO</em></p>
                <p>(617) 448-0910 | eric@padmatcher.com</p>

                <p>Chris Heller | <em>Penrose Realty LLC. | Broker</em></p>
                <p>(617) 794-4554 | chris@penroserealty.com</p>
            </section>

            <section>
                <h1>Personal Interests</h1>
                <ul class="skill-set">
                    <li>Faith</li>
                    <li>Biblical Studies</li>
                    <li>Playing Guitar</li>
                    <li>Song Writing</li>
                    <li>Health & Nutrition</li>
                    <li>Reading</li>
                </ul>
            </section>
            <section>
                <div class="handmade">
                    <p>handmade by <em>Reigner Garcia Ouano</em></p>
                </div>
            </section>
        </div>

    </div>

</div>
