PortfolioWithServer/.vs/
PortfolioWithServer/Client/bin/
PortfolioWithServer/Client/obj/
PortfolioWithServer/Server/bin/
PortfolioWithServer/Server/obj/
PortfolioWithServer/Shared/obj/
PortfolioWithServer/Shared/bin/