@page "/"

@using PortfolioWithServer.Client.Components;
@using PortfolioWithServer.Shared.Models;
@using PortfolioWithServer.Client.Services;
@using PortfolioWithServer.Client.Components.Experience;

@inject ExperienceService experienceService
@inject IJSRuntime JSRuntime

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16">
    <div class="mb-10">
        <ContactInfo />
    </div>

    <MudDivider Class="my-4 mb-10" Color="Color.Grey" />

    <MudText Typo="Typo.h4" Class="mb-4" Style="font-weight: bold; color: gray; text-align: center;">
        Professional Experience
    </MudText>

    @if (DeviceType == "desktop") {
        <MudTimeline>
            @foreach (var experience in experiences)
            {
                <MudTimelineItem>
                    <ExperienceCard Exp="experience" Index="experiences.IndexOf(experience)" />
                </MudTimelineItem>
            }
        </MudTimeline>
    }
    else
    {
        @foreach (var experience in experiences)
        {
            <ExperienceCardMobile Exp="experience" Index="experiences.IndexOf(experience)" />
        }
    }



    <MudDivider Class="my-8" />

    <MudText Typo="Typo.h4" Class="mb-4">Skills</MudText>
    <MudPaper Class="pa-4 mb-8" Elevation="3">
        <MudChipSet T="string">
            <MudChip Color="Color.Primary">.NET Core</MudChip>
            <MudChip Color="Color.Primary">C#</MudChip>
            <MudChip Color="Color.Primary">Blazor</MudChip>
            <MudChip Color="Color.Primary">Web3</MudChip>
            <MudChip Color="Color.Primary">RESTful API</MudChip>
            <MudChip Color="Color.Primary">Acumatica</MudChip>
            <!-- Add more skills as needed -->
        </MudChipSet>
    </MudPaper>

    <MudText Typo="Typo.h4" Class="mb-4">Projects</MudText>
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Project 1</MudText>
                    <MudText Typo="Typo.body2">Brief description of your project.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <!-- Add more MudItem components for additional projects -->
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    private List<Experience> experiences = new List<Experience>();
    private string DeviceType { get; set; } = "desktop";

    protected override async Task OnInitializedAsync()
    {
        experiences = await experienceService.GetExperiencesAsync();
        DeviceType = await JSRuntime.InvokeAsync<string>("detectDeviceType");
    }
}